<ul>
{{#each Unmarked.BookmarksController.content}}
  <li>
    {{#if title}}
      <h3><a {{bindAttr href="url"}}>{{title}}</a></h3>
    {{else}}
      <h3><a {{bindAttr href="url"}}>Untitled</a></h3>
    {{/if}}
    <p class="url"><a {{bindAttr href="url"}}>{{url}}</a></p>
    {{#if description}}
    <p class="description">{{description}}</p>
    {{/if}}
    <p class="meta">
      {{#if tags}}
        <span class="tags">{{tagsFormatted}}</span> &middot;
      {{/if}}
      <span class="created-at">{{createdAtTimeAgo}}</span>
    <p>
  </li>
{{/each}}
</ul>
